/* Corpo principal */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}
body {
    max-width: 1280px;
    background-color: #fff;
}
/* Navegação */
nav > img {
    width: 10%;
    margin-left: 60px;
}

nav{
    padding: 0 20px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(19 34 53);
}


ul {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

li {
    text-align: center;
    width: 15%;
    margin: 0 15px;
}
a{
    font-size: 18px;
    text-decoration: none;
    color: #fff;
}
a:hover{
    color: rgb(168, 166, 166);
}

/* Footer */


#logo{
    margin-left: 13%;
}

.logoredes{
    margin-left: 60%;
}


footer h2{
    margin-left: 610px;
    color: white;
    margin-top: -190px;
    font-size: 20px;
    padding-top: 10px;
    margin-left: 52%;
}

footer h3{
    color: white;
    width: 300px;
    margin-left: 610px;
    margin-top: 10px;
    font-size: 15px;
    margin-left: 32%;
}

.endereço{
    border-bottom: white 2px solid;
    width: 300px;
    margin-bottom: 10px;
    margin-left: 32%;
}

.telefone{
    color: white;
    margin-top: 10px;
    border-bottom: white 2px solid;
    width: 300px;
    margin-left: 32%;
}

.rsocias{
    margin-left: 60%;
    padding-top: 50px;
    padding-bottom: 15px;
    margin-left: 60%;
}

.redesS1, .redesS2, .redesS3{
    width: 32px;
    height: 32px;
    padding-bottom: 10px;
   
} 

footer{
    height: 180px;
    background-color: rgb(19 34 53); 
    position: relative;
    bottom: 0px;
    width: 100vw;
    overflow-y: hidden;
    
}

@media screen and (max-width: 768px){
    /* Navegação */
    nav > img {
        display: none;
    }
    nav{
        justify-content: center;
        padding: 10px;
    }

    
    li {
        text-align: left;
        align-items: center;
        display: flex;
        flex-direction: column;
        margin: 10px 0;
        width: 100%;
    }

    /* Footer */

     .logoredes{
        margin-left: 65%;
    }
    
    #logo{
        width: 0px;
    }
    
    footer h2{
        margin-left: 610px;
        color: white;
        margin-top: -190px;
        font-size: 20px;
        padding-top: 10px;
        margin-left: 17%;
    }
    
    footer h3{
        color: white;
        width: 300px;
        margin-left: 610px;
        margin-top: 10px;
        font-size: 15px;
        margin-left: 17%;
    }
    
    .endereço{
        border-bottom: white 2px solid;
        width: 300px;
        margin-bottom: 10px;
        margin-left: 17%;
    }
    
    .telefone{
        color: white;
        margin-top: 10px;
        border-bottom: white 2px solid;
        width: 300px;
        margin-left: 17%;
    }
    
    .rsocias{
        padding-top: 50px;
        padding-bottom: 15px;
        margin-left: 65%;
    }

    .redesS1, .redesS2, .redesS3{
        width: 32px;
        height: 32px;
        padding-bottom: 10px;
       
    } 

    footer{
        height: 180px;
        background-color: rgb(19 34 53); 
        position: relative;
        bottom: 0px;
        width: 100vw;
        overflow-y: hidden;
        
    }
   
     

}

@media screen and (min-width: 1920px){
    body {
        max-width: 1920px;
        width: 100%;
    }

    nav{
        padding: 0 20px;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        background-color: rgb(19 34 53);
        height: 120px;
        overflow-y: hidden;
    }
    
    nav img{
        margin-top: -35px;
        margin-left: 50px;
    }
    
    ul {
        width: 70%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin-top: -35px;
    }

    .logoredes{
        margin-left: 60%;
    }
    
    
    footer h2{
        margin-left: 610px;
        color: white;
        margin-top: -190px;
        font-size: 20px;
        padding-top: 10px;
        margin-left: 37%;
    }
    
    footer h3{
        color: white;
        width: 300px;
        margin-left: 610px;
        margin-top: 10px;
        font-size: 15px;
        margin-left: 37%;
    }
    
    .endereço{
        border-bottom: white 2px solid;
        width: 300px;
        margin-bottom: 10px;
        margin-left: 37%;
    }
    
    .telefone{
        color: white;
        margin-top: 10px;
        border-bottom: white 2px solid;
        width: 300px;
        margin-left: 37%;
    }
    
    .rsocias{
        margin-left: 60%;
        padding-top: 50px;
        padding-bottom: 15px;
        margin-left: 60%;
    }

    .redesS1, .redesS2, .redesS3{
        width: 32px;
        height: 32px;
        padding-bottom: 10px;
       
    } 

    footer{
        height: 180px;
        background-color: rgb(19 34 53); 
        position: relative;
        bottom: 0px;
        width: 100vw;
        overflow-y: hidden;
        
    }
}

@media screen and (max-width: 375px){

    footer h2{
        margin-left: 610px;
        color: white;
        margin-top: -200px;
        padding-top: 10px;
        margin-left: 0px;
        font-size: 15px;
    }
    
    footer h3{
        color: white;
        width: 150px;
        margin-left: 610px;
        margin-top: 10px;
        font-size: 10px;
        margin-left: 30%;
    }
    
    .endereço{
        border-bottom: white 2px solid;
        width: 150px;
        margin-bottom: 10px;
        margin-left: 30%;
        font-size: 15px;
    }
    
    .telefone{
        color: white;
        margin-top: 10px;
        border-bottom: white 2px solid;
        width: 150px;
        margin-left: 30%;
        font-size: 15px;
    }
    
    .rsocias{
        margin-left: 30%;
        padding-top: 210px;
        padding-bottom: 15px;
    }

    .redesS1, .redesS2, .redesS3{
        width: 25px;
        height: 25px;
        padding-bottom: 5px;
    } 

    .redesS1{
        margin-left: -130px;
    }

    .redesS2{
        margin-left: -130px;
    }

    .redesS3{
        margin-left: -130px;
    }

    footer{
        height: 370px;
        background-color: rgb(19 34 53); 
        position: relative;
        bottom: 0px;
        width: 100vw;
        overflow-y: hidden;
        
    }

}

@media screen and (max-width: 1400px){
    body {
        max-width: 1400px;
        width: 100%;
    }
}