*{
    padding: 0px;
    margin: 0px;
    overflow-x: hidden;
}

.imgfundo{
    background-image: url(./img/fundoo.jpg);
    height: 800px;
    background-repeat:no-repeat;
    background-size: cover;
}

.imgfundo h1{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: blue;
    font-size: 120px;
    margin-left: 56.5%;
    margin-top: 90px;
    
}

.imgfundo h2{
    margin-left: 64%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: -120px;
    color: white;
}

.imgfundo p{
    margin-left: 64%;
    margin-top: 1.5vw;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bolder;
    font-size: 20px;
    color: white;

}

#incluso{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 100px;
    color: white ;
    width: 250px;
    margin-left: 64%;
    color: white;
    font-size: 30px;
}

#first{
    margin-left: 64%;
    margin-top: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    background-color: none;
    width: 212px;
    color: back;
    filter: brightness(150%);
    color: white;
}

#second{
    margin-left: 74%;
    margin-top: -108px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    background-color: none;
    width: 150px;
    color: white;
}

#third{
    margin-left: 82%;
    margin-top: -108px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    background-color: none;
    width: 273px;
    color: white;
}

#first h3{
    padding-bottom: 5px;
}

#second h3{
    padding-bottom: 5px;
}

#third h3{
    padding-bottom: 5px;
}

.assinatura{
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left: 64%;
    margin-top: 40px;
    font-size: 24px;
    width: 150px;
    font-weight: normal;
}
.borda{
    border: 2px black solid;
    margin-top: 20px;
}

.borda1{
    border: 2px black solid;
    margin-top: 5px;
}

.borda2{
    border: 2px black solid;
    margin-top: 5px;
    margin-bottom: 50px;
}

.f4life{
    text-align: center;
    margin-bottom: 30px;
    font-family: 'Raleway', Arial, sans-serif;
    font-size: 28px;
}

.sobre{
    text-align: center;
    width:30%;
    justify-content: center;
    margin-left: 35%;
    margin-right: 35%;
    font-size: 25px;
    font-family: 'Raleway', Arial, sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: rgb(56, 55, 55);
}

button{
    margin: 20px;
    border-radius: 10px;
    background-color: white;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 15px;
    font-weight: bold;
}

button:hover{
    color:white;
    background-color: rgb(77, 181, 216);

}
.botoes{
    margin-left: 850px;
}

.info-aps{
    height: 550px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    padding-top: 30px;
    margin-bottom: 60px;
    background-color: aqua;
}

.Diferencias{
    height: 30px;
    background-color: aqua;
    margin-top: 80px;
    font-size: 28px;
    text-align: center;
    font-weight: bolder;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    overflow: hidden;
}

.info-aps h2{
    margin-top: 10px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: red;
}

.info-aps h3{
    margin-top: 10px;
    font-size: 15px;
    width: 200px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.info-aps img{
    padding-top: 10px;
    width: 100px;
    height: 100px;
}

.centralizar{
    text-align: center;
}

.titulo{
    text-align: center;
    margin-bottom: 30px;
    font-size: 30px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.fotos{
    display: grid;
    margin-bottom: 80px;
    justify-items: center;
}

.apresentacao{
    display: flex;
}

.apresentacao2{
    display: flex;
}

#container{
    padding-right: 5px;
    padding-left: 5px;
}

.apresentacao img{
    padding: 5px;
}

.img1{
    width: 626.66px;
    height: 400px;
    border-radius: 15px;
}

.img2{
    width: 303.33px;
    height: 400px;
    border-radius: 15px;
}

.img1:hover{
    opacity: 0.7 ;
}

.img2:hover{
    opacity: 0.7 ;
}

#estudos{
    width: 313,33;
    height: 400px;
}

#logo{
    width: 200px;
    height: 200px;
    margin-left: 25%;
}

 .redesS1, .redesS2, .redesS3{
    width: 35px;
    height: 35px;
    padding-bottom: 10px;
} 

.logoredes{
    margin-left: 67%;
    
}

@media screen and (max-width: 1400px) {

    .imgfundo{
        background-image: url(./img/fundoo.jpg);
        height: 800px;
        background-repeat:no-repeat;
        background-size: cover;
    }
    
    .imgfundo h1{
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        color: blue;
        font-size: 100px;
        margin-left: 44.5%;
        margin-top: 100px;
    }
    
    .imgfundo h2{
        margin-left: 54.5%;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        margin-top: -105px;
        color: white;
        font-size: 22px;
    }
    
    .imgfundo p{
        margin-left: 54.5%;
        margin-top: 1.5vw;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: bolder;
        font-size: 18px;
        color: white;
    
    }
    
    #incluso{
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        margin-top: 100px;
        color: white ;
        width: 250px;
        margin-left: 54.5%;
        color: white;
        font-size: 26px;
    }
    
    #first{
        margin-left: 54.5%;
        margin-top: 20px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 16px;
        background-color: none;
        width: 212px;
        color: back;
        filter: brightness(150%);
        color: white;
    }
    
    #second{
        margin-left: 69%;
        margin-top: -90px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 16px;
        background-color: none;
        width: 150px;
        color: white;
    }
    
    #third{
        margin-left: 80%;
        margin-top: -90px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 16px;
        background-color: none;
        width: 273px;
        color: white;
    }
    
    #first h3{
        padding-bottom: 5px;
    }
    
    #second h3{
        padding-bottom: 5px;
    }
    
    #third h3{
        padding-bottom: 5px;
    }
    
    .assinatura{
        color: white;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        margin-left: 54.5%;
        margin-top: 65px;
        font-size: 20px;
        width: 150px;
        font-weight: normal;
    }

    .Diferencias{
        height: 30px;
        background-color: aqua;
        margin-top: 80px;
        font-size: 28px;
        text-align: center;
        font-weight: bolder;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        overflow-y: hidden;
    }
  
    #logo{
        width: 200px;
        height: 200px;
        margin-left: 25%;
    }
    
     .redesS1, .redesS2, .redesS3{
        width: 30px;
        height: 30px;
        padding-bottom: 10px;
    } 
    
    .logoredes{
        margin-left: 67%;
        
    }
}